.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.hero-content{
    display: flex;;
    justify-content: center;
    align-items: center;
    gap: 3vh;

}

.hero-image img{
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.hero-sobre{
    width: 50%;
    
}