.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px; /* Padding ligeiramente reduzido para menor altura */
  background-color: rgba(37, 0, 80, 0.5); /* Fundo mais translúcido */
  color: white;
  position: sticky; /* Navbar fixa no topo */
  top: 0;
  z-index: 1000; /* Garantir que fique acima de outros elementos */
  backdrop-filter: blur(5px); /* Efeito de blur para modernizar */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Borda sutil para separação */
}

.logo {
  font-size: 1.8rem; /* Tamanho de fonte ajustado para o logo */
  font-weight: 600; /* Peso da fonte mais forte */
  color: #a78bfa; /* Cor de destaque do tema */
  letter-spacing: 1px; /* Espaçamento sutil entre as letras */
}
.navbar ul {
  list-style: none;
}

.nav-links {
  display: flex;
  text-align: center; /* Centralizar texto */
  gap: 30px; /* Espaçamento entre os links ligeiramente reduzido */
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem; /* Usar rem para tamanho de fonte */
  font-weight: 500; /* Adicionar um peso de fonte */
  transition: color 0.3s ease; /* Transição apenas para a cor */
}

.nav-links a:hover {
  color: #8120ff;
}
